<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMAO - Portail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Système de Suivi Production</h1>
        <div class="grid-selection">
            <div class="card" onclick="window.location.href='/page_operateur'">
                <div class="icon">📢</div>
                <h2>Je suis Opérateur</h2>
                <p>Remonter une remarque simple (Bruit, Qualité, Alerte).</p>
            </div>
            <div class="card" onclick="window.location.href='/page_login'">
                <div class="icon">🔑</div>
                <h2>Espace Référent</h2>
                <p>Saisir une intervention ou valider un acte technique.</p>
            </div>
        </div>
    </div>
</body>
</html>
